{
  "env": {
    "test": {
      "plugins": [
        [
          "styled-jsx/babel",
          {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        ]
      ],
      "presets": [["env"], ["next/babel"]]
    },
    "development": {
      "plugins": [
        [
          "styled-jsx/babel",
          {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        ]
      ],
      "presets": [["env"], ["next/babel"]]
    },
    "production": {
      "presets": [],
      "plugins": [
        [
          "styled-jsx/babel",
          {
            "plugins": [
              "styled-jsx-plugin-sass"
            ]
          }
        ]
      ]
    }
  }
}
