{
  "env": {
    "test": {
      "plugins": [],
      "presets": [["env"], ["next/babel"]]
    },
    "development": {
      "plugins": [],
      "presets": [["env"], ["next/babel"]]
    },
    "production": {
      "presets": [],
      "plugins": []
    }
  }
}
